/* this is my stylesheet for the home page */
/* header styles */

/* main body styles */

/* footer styles */
h1, h6{
  font-family: 'Lato', sans-serif;
}

.photo1{
  display: block;
  margin: 0 auto;
}
nav{

}
footer{

}

body{
  background:#7abcff;
}


/*{outline: 1px solid red;}*/

.about{
  background-color: blue;

}
.blue{
  background-image: url("http://placehold.it/1000x600");
  background-size: cover;
  padding: 50px 50px;
  border-style: 1px black solid;
  }
  @media screen and  (max-width: 2500px){
      #container{
        width:100%;
  }
      #left-column{
        width:100%;

      }
      #right-column{
        width:100%;
      }
      img{
        width:100%;
      }

  footer{
     bottom:0;
     z-index:100000
  }

  .blue1{
    padding: 50px 50px;
  }

  img{height="300"
width="300"}
